<% include ../partials/header %>
  <div class="form__container">
    <form class="form" action="/rooms/<%= foundRoom.id %>?_method=PUT" method="POST">
      <h1 class="form--title">Update Room</h1>
      <div class="form__group form__group--input">
        <div class="form__input form__input--bottom">
          <i class="fas fa-home input__icon"></i>
          <input class="text__input" name="name" value="<%= foundRoom.name %>" type="text">
        </div>
      </div>
      <input class="form__submit" type="submit" value="Update Room">
    </form>
    <p class="form--links">
      <a class="form__link form__link--one" href="/rooms/<%= foundRoom.id %>">
        Go Back
      </a>
    </p>
  </div>
<% include ../partials/footer %>