<% include ./partials/header %>
  <div class="form__container">
    <form class="form" action="/forgot" method="POST">
      <h1 class="form--title">Reset Password</h1>
      <div class="form__group form__group--input">
        <div class="form__input form__input--bottom">
          <i class="fas fa-envelope input__icon"></i>
          <input class="text__input" type="email" id="email" name="email" placeholder="email address" autofocus>
        </div>
      </div>
      <input class="form__submit" type="submit" value="Reset Password">
    </form>
    <p class="form__links">
      <a class="form__link form__link--one" href="/login">Sign In</a>
      <a class="form__link form__link--three" href="/register">Sign Up</a>
    </p>
  </div>
<% include ./partials/footer %>