<% include ./partials/header %>
  <div class="form__container">
    <form class="form" action="/login" method="POST">
      <h1 class="form--title">Sign In</h1>
      <div class="form__group form__group--input">
        <div class="form__input form__input--top">
          <i class="fas fa-user input__icon"></i>
          <input class="text__input" name="username" placeholder="username" type="text" autofocus autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </div>
        <div class="form__input form__input--bottom">
          <i class="fas fa-key input__icon"></i>
          <input class="text__input" name="password" placeholder="password" type="password">
        </div>
      </div>
      <input class="form__submit" type="submit" value="Log In">
    </form>
    <p class="form__links">
      <!-- <a class="form__link form__link--one" href="/">Go Back</a> -->
      <a class="form__link form__link--one" href="/register">Sign Up</a>
      <a class="form__link form__link--three" href="/forgot">Forgot</a>
    </p>
  </div>
<% include ./partials/footer %>