/* GLOBALS */

:root {
  --orange: #E27D60;
  --teal: #95CBC9;
  --coral: #E8A87C;
  --lavender: #C38D9E;
  --green: #41B3A3
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans';
  height: 100%;
}

/* MAIN CONTAINER */

.container--main {
  display: grid;
  grid-template-areas: 
    "sidebar body";
  grid-template-columns: 180px 1fr;
  grid-template-rows: 100%;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  background: var(--green);
  position: relative;
  width: 100%;
}

/* USER INFO */

.user__nav {
  height: 180px;
  transition: all 250ms;
}

.user__nav a {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.user__nav:hover {
  background: rgba(255, 255, 255, .05);
}

.user__initial {
  align-items: center;
  background: white;
  border: 3px solid var(--orange);
  border-radius: 100%;
  color: var(--orange);
  display: flex;
  height: 75px;
  justify-content: center;
  margin: 0;
  width: 75px;
}

.user__info {
  color: white;
}

/* NAV */

nav {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 181px);
}

.nav--section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app__nav--link {
  align-items: center;
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding-left: 10px;
  text-decoration: none;
  transition: all 250ms;
  width: 100%;
}

.app__nav--link:hover {
  background: rgba(255, 255, 255, .05);
}

.app__nav--active {
  background: rgba(255, 255, 255, .2);
}

.app__nav--active:hover {
  background: rgba(255, 255, 255, .2);
}

.app__nav--link .fa-caret-left {
  font-size: 1.5rem;
  margin-right: -2px;
}

.settings__nav {
  align-self: flex-end;
}

/* BODY CONTAINER */

.container--body {
}
