/* GLOBALS */

:root {
	--orange: #e27d60;
	--teal: #95cbc9;
	--coral: #e8a87c;
	--lavender: #c38d9e;
	--green: #41b3a3;
	--white: rgba(255, 255, 255, 1);
	--black: rgba(100, 100, 100, 1);
	--grey: rgba();
}

html {
	color: var(--black);
	font-size: 16px;
}

body {
	font-family: sans-serif;
	height: 100%;
}

/* MAIN CONTAINER */

.container--main {
	display: grid;
	grid-template-areas: "sidebar body";
	grid-template-columns: auto 1fr;
	grid-template-rows: 100%;
	height: 100vh;
	overflow: hidden;
	transition: all 250ms;
}

/* SIDEBAR */

.sidebar {
	background: var(--green);
	width: 180px;
	transition: width 250ms;
	z-index: 10;
}

.sidebar--content {
	transition: all 250ms;
}

path {
	pointer-events: none;
}

.sidebar__icon {
	color: var(--green);
	cursor: pointer;
	display: none;
	font-size: 2rem;
	left: 6px;
	pointer-events: none;
	position: absolute;
	top: 18px;
	transition: all 250ms;
	z-index: 5;
}

.sidebar__icon--toggle {
	left: 80px;
	transform: rotateZ(180deg);
}

/* USER INFO */

.user__nav {
	height: 180px;
	transition: all 250ms;
}

.user__nav a {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	text-decoration: none;
	width: 100%;
}

.user__nav:hover {
	background: rgba(255, 255, 255, 0.05);
}

.user__initial {
	align-items: center;
	background: white;
	border: 3px solid var(--orange);
	border-radius: 100%;
	color: var(--orange);
	display: flex;
	height: 75px;
	justify-content: center;
	margin: 0;
	width: 75px;
	transition: all 250ms;
}

.user__info {
	color: var(--white);
}

/* NAV */

nav {
	display: flex;
	flex-wrap: wrap;
	height: calc(100% - 181px);
}

.nav--section {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.app__nav--link {
	align-items: center;
	color: var(--white);
	display: flex;
	height: 50px;
	justify-content: space-between;
	padding-left: 10px;
	text-decoration: none;
	transition: all 250ms;
	width: 100%;
}

.app__nav__link > span {
	transition: all 250ms;
}

.app__nav--link:hover {
	background: rgba(255, 255, 255, 0.05);
}

.app__nav--active {
	background: rgba(255, 255, 255, 0.2);
}

.app__nav--active:hover {
	background: rgba(255, 255, 255, 0.2);
}

.app__nav--link .fa-caret-left {
	font-size: 1.5rem;
	margin-right: -2px;
}

.settings__nav {
	align-self: flex-end;
}

/* BODY CONTAINER */

.container--content {
	background: var(--white);
	display: grid;
	grid-auto-flow: row;
	justify-items: center;
	overflow-y: auto;
	padding: 50px;
}

.container--headline {
	align-self: center;
	font-size: 3rem;
}

.alert {
	border-radius: 10px;
	color: var(--white);
	font-size: 1rem;
	padding: 20px;
	position: fixed;
	top: 20px;
}

.alert--error {
	background: var(--orange);
}

.alert--success {
	background: var(--green);
}

/* FORMS */

.form__container {
	align-self: center;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	padding: 10px 20px;
	max-width: 500px;
}

.form {
	display: grid;
	grid-auto-flow: row;
	grid-gap: 20px;
}

.form--title {
	text-align: center;
}

.form__group {
	display: grid;
	grid-gap: 5px;
}

.form__group--input {
	background: rgba(252, 252, 252, 1);
	border-radius: 5px;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form__input {
	align-items: center;
	border-bottom: 1px solid rgba(240, 240, 240, 1);
	color: var(--black);
	display: flex;
	height: 50px;
}

.input__icon {
	margin-left: 15px;
	margin-right: 15px;
}

.form__input--bottom {
	border: none;
}

.text__input {
	background: none;
	border: none;
	outline: none;
	width: calc(100% - 63px);
}

/* .text__input */

.form__submit {
	border: none;
	border-radius: 5px;
	background: var(--teal);
	/* color: rgba(150, 150, 150, 1); */
	color: hsla(178, 34%, 95%, 1);
	cursor: pointer;
	height: 50px;
	transition: all 250ms;
}

.form__links {
	display: grid;
	grid-auto-flow: column;
	grid-template-areas: "one two three";
	grid-template-columns: repeat(3, minmax(25px, 150px));
	margin-top: 30px;
}

.form__link {
	color: var(--black);
	text-decoration: none;
}

.form__link--one {
	grid-area: one;
}

.form__link--two {
	grid-area: two;
	justify-self: center;
	text-align: center;
}

.form__link--three {
	grid-area: three;
	justify-self: right;
	text-align: right;
}

/* INFORMER  */

.informer {
	display: grid;
	grid-template-columns: 330px auto;
	width: 100%;
}

.item__info {
	padding-left: 10px;
}

/* LISTS */

.list a {
	text-decoration: none;
}

.list--grid {
	align-self: flex-start;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, 300px);
	justify-content: center;
	width: 100%;
}

.list__item--grid {
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-wrap: wrap;
	/* flex-direction: column; */
	height: 300px;
	justify-content: center;
	padding: 50px;
}

.list__item__name {
	align-self: flex-start;
	color: var(--black);
	font-size: 2.5rem;
}

.list__item__buttons {
	align-self: flex-end;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.list__item__button {
	align-items: center;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: flex;
	font-size: 1.25rem;
	height: 30px;
	justify-content: center;
	outline: none;
	width: 50px;
}

.list__item__button--info {
	background: var(--teal);
}

.list__item__button--edit {
	background: var(--lavender);
}

.list__item__button--delete {
	background: var(--orange);
}

.list__add {
	color: var(--teal);
	font-size: 5rem;
}

@media (max-width: 775px) {
	.sidebar {
		width: 75px;
	}
	.container--content {
		padding: 25px;
	}
	.user__nav {
		height: 120px;
	}
	.user__initial {
		height: 50px;
		width: 50px;
	}
	nav {
		display: flex;
		flex-wrap: wrap;
		height: calc(100% - 119px);
	}
	.app__nav--link span {
		transform: rotateZ(45deg);
	}
	.app__nav--link {
		height: 75px;
	}
}

@media (max-width: 535px) {
	.container--content {
		padding: calc(36px + 2rem) calc(12px + 2rem);
	}
	.sidebar__icon {
		display: inline;
		pointer-events: all;
	}
	.sidebar {
		width: 0;
	}
	.sidebar--content {
		margin-left: -100px;
		transition: all 250ms;
	}
	.sidebar__content--show {
		margin-left: 0;
	}
	.sidebar--show {
		width: 75px;
	}
}
