<% include ../partials/header %>
<div class="container--body">
		<div class="calendar__container">
			<div class="calendar">
				<div class="calendar__header">
					<button onclick="changeMonth('back')">
						<i class="fas fa-chevron-left"></i>
					</button>
					<h3 id="month" class="month"></h3>
					<button onclick="changeMonth('forward')">
						<i class="fas fa-chevron-right"></i>
					</button>
				</div>
				<div class="calendar__week">
					<div class="weekday">Su</div>
					<div class="weekday">Mo</div>
					<div class="weekday">Tu</div>
					<div class="weekday">We</div>
					<div class="weekday">Th</div>
					<div class="weekday">Fr</div>
					<div class="weekday">Sa</div>
				</div>
				<div id="days" class="calendar__days"> </div>
			</div>
		</div>
	<% include ../partials/footer %>