<% include ../partials/header %>
<div class="list">
	<% foundBookings.forEach(booking => { %>
		<div class="list__item">
			<a href="/bookings/<%= booking.id %>"><%= booking.name %></a>
		</div>
	<% }); %>
	<div class="list__item">
		<a href="/bookings/new">Add New</a>
	</div>
</div>
<% include ../partials/footer %>